<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983071077223-dbmhrfphh67flmjgljulfu0tosctvs2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983071077223-dbmhrfphh67flmjgljulfu0tosctvs2r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>983071077223-0j7oum4lbhh0bl7mntbqgk77dlebi9mv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACI38uW7DuDccuUuU7Quj2VV6p29Z6FgE</string>
	<key>GCM_SENDER_ID</key>
	<string>983071077223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raysummee.animore</string>
	<key>PROJECT_ID</key>
	<string>animore-db</string>
	<key>STORAGE_BUCKET</key>
	<string>animore-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983071077223:ios:9f264abac44c8b11f2f5c2</string>
	<key>DATABASE_URL</key>
	<string>https://animore-db.firebaseio.com</string>
</dict>
</plist>